body{
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color:  #f4f3f2 ;
    margin: 0;
}


h1{
    color: #293241;
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
}


h2{
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    color: #293241;
}


p{
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    color: #293241;
}


#logo{
    padding-right: 50px;
}

#imglogo{
    width:200px;
}

#menu ul{
    list-style: none;
}


#menu ul li{
    display: inline;
    padding: 20px;
}


#menu ul li a:hover{
    color: black;
    background-color: #55d6f0;
    transition: 0.5s all;
}


#menu ul li a{
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #293241;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}


header{
    display: flex;
    align-items: center;
    background-color:  #87e4fc ;
    padding: 0 50px;
    position: sticky;
    z-index: 10;
    top: 0;

}

#divindex {
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid #005ca9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#index{
    text-align: justify;
    font-size: 30px;
    font-weight: bold;
}

#subindex{
    font-size: 25px;
}

#login {
    width: 400px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 150px;
    margin-bottom: 320px;
    padding: 20px;
    background-color: #ffffff;
    text-align: left;
    border: 5px solid #005ca9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 
#login input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #d2ebf0;
    border: 2px solid #005ca9;
    border-radius: 5px;
    font-size: 14px;
  }
 
#logar {
    width: 100%;
    padding: 12px;
    background-color: #b3e5fc;
    border-radius: 999px;
    background-color: #005ca9;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
 

  #esqueci{
    width: 320px;
    height: 200px;
    padding: 30px;
    border: 5px solid #005ca9;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }


#esc{
    text-align: center;
    font-size: large;
    border: 0px solid #005ca9;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    border-radius: 8px;
}

#info{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 300px;
    border: 5px solid #005ca9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-left: 20px;
    padding-right: 30px;
    font-size: large;
}

#info h1 {
    text-align: center;
}

#aviso {
    color: red;
    font-weight: bold;
}

#info dt {
    font-size: 30px;
    line-height: 50px;
}

ol{
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    color: #293241;
    font-weight: bold;

}

ul{
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    color: #293241;
    font-weight: bold;

}

li p {
    font-weight: normal;
}

h2{
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    color: #293241;
}

dt{
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    color: #293241;
}

dl{
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    color: #293241;
    font-weight: bold;
}

dd {
    font-weight: normal;
}

h3{
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    color: #293241;
}

summary{
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    color: #084552;
}

#cadastro{
    width: 400px;
    height: 200px;
    padding: 20px;
    border: 5px solid #005ca9;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 475px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#botao {
  background-color: #005ca9;
  color: white;
  font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 999px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

#insiradados{
    font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
    color: #293241;
    text-align: center;
}

#dados{
  width: 320px;
  height: 500px;
  padding: 30px;
  border: 5px solid #005ca9;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 180px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#dados input{
    width: 90%;
    padding: 10px;
    border: 2px solid #005ca9;
    border-radius: 5px;
    background-color: #d2ebf0;
    color: black;
}

#continua{
  background-color: #005ca9;
  color: white;
  font-family: Hanken Grotesk Bold, Arial, Helvetica, sans-serif;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 999px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

#tipos{
    padding-left: 20px;
    padding-right: 30px;
    font-size: large;
    
}

#footer{
    padding: 3px;
    text-align: center;
    background-color:#87e4fc;
    box-shadow: 0 50vh 0 50vh #87e4fc;
}

.container{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

#tituloManifest {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#manifest{
    line-height: 1000px;
    font-weight: bold; 
    font-size: large;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 5px solid #005ca9;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    line-height: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#manifest input{
    border: 2px solid #005ca9;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #d2ebf0;
    width: 300px;
    height: 25px;
}

#manifest .container {
    line-height: 30px;
}

#manifest button{
    width: 200px;
}

#local{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6fe5fd;
    color: black;
}