body{
    background-color:  #ddf5fa ;
    margin: 0;
}


h1{
    color: #026c81;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
}


h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #026c81;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    color: #026c81;
}


#logo{
    padding-right: 50px;
}


#menu ul{
    list-style: none;
}


#menu ul li{
    display: inline;
    padding: 20px;
}


#menu ul li a:hover{
    color: black;
    background-color: #55d6f0   ;
    transition: 0.5s all;
}


#menu ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}


header{
    display: flex;
    align-items: center;
    background-color:  #87e4fc ;
    padding: 0 50px;
    position: sticky;
    z-index: 10;
    top: 0;

}



#login {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    text-align: left;
  }
 
#login_e {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #d9d9d9;
    border: none;
    font-size: 14px;
  }


#login_s {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #d9d9d9;
    border: none;
    font-size: 14px;
  }  
 
#logar {
    width: 100%;
    padding: 12px;
    background-color: #b3e5fc;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
 

  #esqueci{
    width: 320px;
    height: 200px;
    padding: 30px;
    border: 5px solid #005ca9;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }


#esc{
    padding-left: 20px;
    padding-right: 30px;
    font-size: large;
}

#oque{
    padding-left: 20px;
    padding-right: 30px;
    font-size: large;
}

ol{
    font-family: Arial, Helvetica, sans-serif;
    color: #026c81;
    font-weight: bold;

}

ul{
    font-family: Arial, Helvetica, sans-serif;
    color: #026c81;
    font-weight: bold;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #026c81;
}

dt{
    font-family: Arial, Helvetica, sans-serif;
    color: #026c81;
}

dl{
    font-family: Arial, Helvetica, sans-serif;
    color: #026c81;
    font-weight: bold;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #026c81;
}

summary{
    font-family: Arial, Helvetica, sans-serif;
    color: #084552;
}

#cadastro{
    width: 400px;
    height: 200px;
    padding: 20px;
    border: 5px solid #005ca9;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#botao {
  background-color: #005ca9;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 999px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

#dados{
  width: 320px;
  height: 500px;
  padding: 30px;
  border: 5px solid #005ca9;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#nome{
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6fe5fd;
    color: black;
}

#email{
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6fe5fd;
    color: black;
}

#senha{
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6fe5fd;
    color: black;
}

#cpf{
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6fe5fd;
    color: black;
}

#continua{
  background-color: #005ca9;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 999px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

#tipos{
    padding-left: 20px;
    padding-right: 30px;
    font-size: large;
    
}

#footer{
    padding: 3px;
    text-align: center;
    background-color:  hsl(190, 94%, 86%) ;
}

.container{
display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

#manifest{
    padding-left: 20px;
}

#local_contaminado{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6fe5fd;
    color: black;
}